# DEVELOPMENT
OSSPIM_ACCESS_TOKEN_ID=YOUR_DEVELOPMENT_TOKEN_ID
OSSPIM_ACCESS_TOKEN_SECRET=YOUR_DEVELOPMENT_TOKEN_SECRET
OSSPIM_ENV=dev
PUBLIC_API_URL=https://pim-dev.osspim.digital

# PRODUCTION
# OSSPIM_ACCESS_TOKEN_ID=YOUR_PRODUCTION_TOKEN_ID
# OSSPIM_ACCESS_TOKEN_SECRET=YOUR_PRODUCTION_TOKEN_SECRET
# PUBLIC_API_URL=https://pim.ossgroup.com
